---
import Layout from '../layouts/Layout404.astro';
---

<Layout title="No se encontro la pagina">
    <div class="flex flex-col items-center justify-center h-screen gap-6">
        <img src="https://open.spotifycdn.com/cdn/images/favicon.0f31d2ea.ico" alt="Spotify Icon" class="w-16 h-16" />
        <h1 class="text-5xl font-bold">No se encontró la página</h1>
        <!-- parrafo -->
        <p class="text-md text-text-color">No pudimos encontrar la página que buscas</p>
        <!-- boton de inicio -->
        <a href="/" class="bg-white text-base-color font-semibold hover:scale-105 hover:font-extrabold rounded-full px-8 py-3 ">Inicio</a>
        <a href="https://support.spotify.com/" target="_blank" class="text-white font-bold text-md hover:underline">Ayuda</a>
    </div>
    <!-- icono -->
  
     
</Layout>