---
import Layout from "../layouts/Layout.astro";
import PlayListItemCard from "../components/PlayListItemCard.astro";
import { playlists } from "../lib/data";
import Greeting from "@/components/Greeting.svelte";
---

<Layout title="Spotify Clone">
 
  <div
    id="playlist-container"
    class="relative transition duration-1000 bg-spotify-green"
    
  >
    <!-- PageHeader  -->
    <div class="relative z-10 px-6 pt-10 ">
      <!-- Greetings -->
      <Greeting client:visible />
      <div class="flex flex-wrap mt-6 gap-4">
        <!-- importamos playlist -->
        {playlists.map((playlist) => <PlayListItemCard playlist={playlist} />)}
      </div>
    </div>
    <div
      class="absolute inset-0 bg-gradient-to-t from-base-color via-base-color/80"
    >
    </div>
  </div>
</Layout>

<style></style>
