---
 

 
---

<!-- agregamos condicional al section si es true hay dflex si es false hay hidden -->

 

<section class=`[grid-area:menu] min-h-[100px] h-auto flex`>
    holaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
</section>