---
import AsideMenu from '../components/AsideMenu.astro'
import Player from '@/components/Player'

import { ViewTransitions } from 'astro:transitions';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="https://open.spotifycdn.com/cdn/images/favicon.0f31d2ea.ico">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		
		<ViewTransitions fallback='none'/>
	</head>
	<body>
		
		
		<div id="app" class=" relative h-screen p-2  gap-2 "> 
			<aside class="[grid-area:aside] flex-col flex overflow-y-auto ">
				<AsideMenu />
			</aside>
			<main class="[grid-area:main] rounded-lg bg-base-color overflow-y-auto w-full">
				<slot/>
			</main>

			
			
			<!-- tipos de client: el idle sirve para cargar solo cuando ya no hay otras cosas mas prioritarias cargando.El load sirve para cuando se carga la pagina, se carga el componente. media es para cargar dependiendo del viewport (como una media query) el only es para componente que solo queremos renderizar en el cliente, hay que alcarar con que tecnologia ejemplo only="react". El visible es para cuando queremos renderizar el componente solo cuando este visible, este componente se renderiza en el servidor para cuando en el cliente sea visible lo renderiza alli. -->

			

			<!-- NOTA: Cuando colocamos un client only (donde hay que aclarar el framework usado) el componente solo se renderiza en el cliente, por lo que se puede notar un flasheo o parpadeo al recargar la pagina ademas de que no aparece el .jsx dentro del network de la web, algo que no sucede si usamos por ejemplo un client:load o client:visible, ya que lo renderiza en el cliente solo cuando es visible, normalmente esta renderizado desde el servidor y cuando es visible lo entrega al cliente, evitando ese flasheo y veremos que si aparece el Player.jsx desde el network  -->
			<footer class="[grid-area:player]  min-w-[620px] h-auto ">
				<!-- en este caso hacemos un client load porque queremos que se cargue del lado del servidor y como siempre esta visible, no tendria sentido poner un client:visible -->
				<!-- el transition en el player es porque le tenemos que decir a astro que renderice el componente y persista su estado y el componente mismo, es decir, al ir a otra pagina no se vuelve a cargar el componente recuperando su estado, si no que es el mismo que persiste -->
				<Player client:load transition:name="media-player" transition:persist/>
			
			</footer>
			
		</div> 
	</body>
	
</html>
<style is:global>

	#app {
		display: grid;
		grid-template-areas: 
		"aside main main menu"
		"player player player player";
		/* 350px es para el aside y player y 1fr para el main y el resto de player */
		grid-template-columns: 350px 1fr;
		/* 1fr seria para el aside y main, y el auto para el player */
		grid-template-rows: 1fr auto;
	}

	
	html {
		font-family:'CircularStd', system-ui, sans-serif;
		background: #000000;
		background-size: 224px;
		color: white;
	}
	@font-face {
        font-family: "CircularStd";
        src: url("/fonts/CircularStd-Medium.woff2") format("woff2");
        font-weight: 500;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "CircularStd";
        src: url("/fonts/CircularStd-Book.woff2") format("woff2");
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "CircularStd";
        src: url("/fonts/CircularStd-Light.woff2") format("woff2");
        font-weight: 300;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "CircularStd";
        src: url("/fonts/CircularStd-Bold.woff2") format("woff2");
        font-weight: 700;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "CircularStd";
        src: url("/fonts/CircularStd-Black.woff2") format("woff2");
        font-weight: 900;
        font-style: normal;
        font-display: swap;
      }
</style>
